{% extends "::base.html.twig" %}

{% block title %}Contact nr {{contact.id}}{% endblock %}

{% block body %}
<h4>Contact nr {{contact.id}}</h4>

    <h2>{{contact.userName}}  {{contact.userSurname}}</h2>
        {{contact.userDescription}}<br>
        
        {% if address != null %}
        {{address.city}}, {{address.street}} {{address.nrHouse}} / {{address.nrFlat}}<br>
        {% endif %}
        
        {% if phone != null %}
        {{phone.number}}, {{phone.type}}<br>
        {% endif %}
        
    <br><a href="/{{contact.id}}/modify">Modify contact</a>
    <a href="/{{contact.id}}/delete">Delete contact</a><br>
    <a href="/">Show all contact</a>


{% endblock %}